*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:"Poppins",sans-serif;

}



body{

color:white;


background:

linear-gradient(
rgba(0,0,0,.7),
rgba(0,0,0,.85)
),

url("img/mobilidade.jpg");


background-size:cover;

background-attachment:fixed;

}





header{


position:fixed;

top:0;

width:100%;

z-index:5;


background:

rgba(20,20,20,.7);


backdrop-filter:blur(15px);


}





.navbar{


max-width:1200px;

margin:auto;


padding:20px;


display:flex;

justify-content:space-between;

align-items:center;


}





.navbar h1{

font-size:30px;

}




.navbar a{


background:#2563eb;


color:white;


padding:10px 25px;


border-radius:20px;


text-decoration:none;


}





.hero{


padding-top:120px;


min-height:80vh;


display:flex;


align-items:center;


justify-content:center;


gap:80px;


padding-left:10%;

padding-right:10%;


}




.hero h2{


font-size:45px;


}



.hero p{


max-width:500px;


font-size:18px;


}





.hero img{


width:320px;


filter:

drop-shadow(0 0 30px #38bdf8);



animation:move 4s infinite;


}





@keyframes move{


50%{

transform:translateY(-20px);

}


}







.conteudo,
.mapa,
.grafico,
.conclusao{


padding:70px 10%;

text-align:center;


}





.cards{


display:flex;


justify-content:center;


gap:30px;


flex-wrap:wrap;


margin-top:40px;


}






.card{


width:280px;


padding:30px;


background:

rgba(255,255,255,.1);


backdrop-filter:blur(15px);


border-radius:20px;


transition:.3s;


}




.card:hover{


transform:translateY(-10px);


}








.mind{


height:400px;


width:400px;


margin:80px auto;


position:relative;


}





.central{


position:absolute;


top:160px;


left:125px;


background:#2563eb;


padding:30px;


border-radius:50%;


}





.item{


position:absolute;


padding:20px;


background:

rgba(255,255,255,.15);


border-radius:20px;


}




.item1{

top:30px;

left:160px;

}




.item2{

left:20px;

top:180px;

}





.item3{

bottom:30px;

left:150px;

}





.item4{

right:20px;

top:180px;

}








.bars{


max-width:600px;

margin:auto;


text-align:left;


}




.bar{


height:20px;


background:#334155;


border-radius:20px;


margin-top:10px;


margin-bottom:25px;


}



.bar div{


height:100%;


background:#38bdf8;


border-radius:20px;


animation:grow 2s;


}





@keyframes grow{


from{

width:0;

}


}







footer{


padding:30px;


text-align:center;


background:#0008;


}





@media(max-width:800px){


.hero{


flex-direction:column;


text-align:center;


}



.hero h2{

font-size:32px;

}


.mind{


transform:scale(.8);


}


}
