*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:"Poppins",sans-serif;

}



body{

background:

linear-gradient(
rgba(0,0,0,.7),
rgba(0,0,0,.8)
),

url("img/visao.jpg");


background-size:cover;

background-attachment:fixed;

color:white;

}




header{


background:
rgba(20,20,20,.7);


backdrop-filter:blur(15px);


position:fixed;

width:100%;

top:0;

z-index:10;


}





.navbar{


max-width:1200px;

margin:auto;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;


}




.navbar h1{

font-size:30px;

}




.navbar a{


color:white;

text-decoration:none;

background:#2563eb;

padding:10px 25px;

border-radius:20px;


}





.hero{


padding-top:130px;

min-height:80vh;

display:flex;

align-items:center;

justify-content:center;

gap:80px;

padding-left:10%;

padding-right:10%;


}





.hero h2{

font-size:45px;

}



.hero p{

max-width:500px;

font-size:18px;

}



.hero img{


width:300px;

filter:drop-shadow(0 0 30px #38bdf8);


animation:float 4s infinite;


}



@keyframes float{


50%{

transform:translateY(-20px);

}


}







.conteudo,
.mapa,
.grafico{


padding:70px 10%;

text-align:center;

}





.cards{


display:flex;

gap:30px;

justify-content:center;

flex-wrap:wrap;

margin-top:40px;


}





.card{


background:

rgba(255,255,255,.1);


backdrop-filter:blur(15px);


padding:30px;


width:280px;


border-radius:20px;


transition:.3s;


}



.card:hover{


transform:translateY(-10px);

}





.mind{


margin:80px auto;

width:400px;

height:400px;

position:relative;


}





.central{


position:absolute;

top:160px;

left:110px;


background:#2563eb;


padding:30px;


border-radius:50%;


}





.item{


position:absolute;


background:

rgba(255,255,255,.15);


padding:20px;


border-radius:20px;


}




.item1{

top:20px;

left:170px;

}


.item2{

top:180px;

left:0;

}


.item3{

bottom:20px;

left:170px;

}



.item4{

top:180px;

right:0;

}





.bars{


max-width:600px;

margin:auto;

text-align:left;

}



.bar{


height:20px;

background:#334155;

border-radius:20px;

margin:10px 0 25px;


}



.bar div{


height:100%;

background:#38bdf8;

border-radius:20px;


animation:grow 2s;


}




@keyframes grow{

from{

width:0;

}

}






footer{


padding:30px;

text-align:center;

background:#0008;


}





@media(max-width:800px){


.hero{


flex-direction:column;

text-align:center;

}



.hero h2{

font-size:32px;

}



.mind{

transform:scale(.8);

}


}
