*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;

}



body{

min-height:100vh;

background:

linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.75)
),

url("img/banner1.jpg");


background-size:cover;

background-position:center;

color:white;

}





header{

position:fixed;

top:0;

width:100%;

z-index:10;

background:
rgba(20,20,20,.65);

backdrop-filter:blur(15px);


}




.navbar{

max-width:1200px;

margin:auto;

padding:18px 30px;

display:flex;

justify-content:space-between;

align-items:center;

}



h1{

font-size:32px;

font-weight:600;

letter-spacing:2px;

}





button{


background:
rgba(255,255,255,.1);

border:1px solid rgba(255,255,255,.2);

color:white;

padding:12px 25px;

border-radius:12px;

cursor:pointer;

}





.menu{


position:absolute;

right:0;

top:55px;

width:180px;

display:none;

background:
rgba(20,20,20,.9);

border-radius:15px;

overflow:hidden;

}



.menu a{


display:block;

padding:15px;

color:white;

text-decoration:none;

transition:.3s;

}



.menu a:hover{

background:#2563eb;

}



.menu.show{

display:block;

}







.carousel{


margin-top:90px;

height:70vh;

position:relative;

overflow:hidden;

}



.slide{


display:none;

height:100%;

position:absolute;

width:100%;


}



.slide.active{

display:block;

animation:fade 1s;

}



.slide img{

width:100%;

height:100%;

object-fit:cover;

}



.text{


position:absolute;

bottom:60px;

left:10%;

max-width:500px;

}



.text h2{

font-size:45px;

}



.text p{

font-size:18px;

}





@keyframes fade{


from{

opacity:0;

}

to{

opacity:1;

}

}






.dots{

position:absolute;

bottom:20px;

width:100%;

text-align:center;

}



.dot{

display:inline-block;

height:12px;

width:12px;

background:white;

opacity:.5;

border-radius:50%;

margin:5px;

}



.dot.active{

opacity:1;

background:#38bdf8;

}






.areas{

padding:70px 10%;

text-align:center;

}



.cards{

display:flex;

gap:30px;

justify-content:center;

margin-top:40px;

flex-wrap:wrap;

}




.card{


background:

rgba(255,255,255,.1);


backdrop-filter:blur(10px);


padding:35px;

border-radius:20px;

width:320px;


transition:.4s;


}



.card:hover{

transform:translateY(-10px);

}




.icon{

font-size:50px;

}



.card h3{

font-size:30px;

margin:15px;

}



.card a{

display:inline-block;

margin-top:20px;

padding:10px 30px;

background:#2563eb;

border-radius:20px;

color:white;

text-decoration:none;

}





footer{

padding:25px;

background:#0008;

text-align:center;

font-size:14px;

}





@media(max-width:700px){


.text h2{

font-size:30px;

}


}
